body {
    font-family: Candara, Calibri, Tahoma, sans-serif;
}

table {
    border-spacing: 1pt;
}

th, td {
    padding: 2pt 4pt;
}

thead > tr, tfoot > tr {
    background-color: #ccf;
    font-weight: bold;
}

th {
    text-align: left;
}
